<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <queries>
        <package android:name="com.snapchat.android" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/_1786381850350"
        android:label="@string/app_name"
        android:roundIcon="@drawable/_1786381850350"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoomChat">
        <meta-data
            android:name="com.snap.kit.clientId"
            android:value="YOUR_SNAP_CLIENT_ID" />
        <meta-data
            android:name="com.snap.kit.redirectUrl"
            android:value="roomchat://snap-kit/oauth2" />
        <meta-data
            android:name="com.snap.kit.scopes"
            android:resource="@array/snap_connect_scopes" />

        <activity
            android:name="com.snap.corekit.SnapKitActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="snap-kit"
                    android:path="/oauth2"
                    android:scheme="roomchat" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.RoomChat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RoomChatActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection|smallestScreenSize|screenLayout|uiMode|density"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".CreateRoomActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".EmailloginActivity" />
        <activity
            android:name=".PostCreateActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CommentsActivity" />
        <activity android:name=".FollowListActivity" />
        <activity android:name=".UserDetailActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity
            android:name=".CheckActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>